:root {
  --purple: #48314B;
  --lightpurle: #767AC1;
  --lightblue: #D0EFF7;
  --blue: #283A94;
  --yellow: #E5B436;
  --dark: #242036;

  --demo1dim: 30vw;
  --demo2dim: 30vw;
  --demo3dim: 40vw;
}

/****************** MAIN ***********************/

html {
  scroll-behavior: smooth;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}

body {
  min-height: 100%;
}

header {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: min(15vh, 10vw);
  background: var(--purple);
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: var(--lightpurle);
  font-size: 3vh;
  z-index: 10;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  color: var(--yellow);
  font-size: 6vh;
}

h3 {
  cursor: pointer;
}

/****************** FOOTER ***********************/

footer {
  background: var(--purple);
  color: var(--lightblue);
  position: absolute;
  top: 400vh;
  left: 0;
  right: 0;
  height: 50vh;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  padding-top: 5vh;
}

footer * {
  margin: .5vw;
  margin-top: 1vw;
}

footer div {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
}

footer div div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer div span {
  font-size: .6em;
  font-weight: 200;
}

/****************** SECTIONS ***********************/

section {
  position: absolute;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: 1;
}

#section1 {
  background: var(--lightblue);
  color: var(--purple);
  top: 0;
  height: 100vh;
}

#section2 {
  background: var(--blue);
  color: var(--lightblue);
  top: 100vh;
}

#section3 {
  background: var(--yellow);
  color: var(--blue);
  top: 200vh;
}

#section4 {
  background: var(--lightblue);
  color: var(--blue);
  top: 300vh;
}

/**************** GAME SECTION *********************/

.game-stuff {
  margin-top: min(20vh, 15vw);
}

#section1 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.game-stuff {
  height: 70vh;
}

canvas {
  background: var(--dark);
  border: solid 8px var(--purple);
}

#stuff-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#stuff-left div {
  margin: 0px auto;
}

#stuff-left div h5 {
  font-size: 2.5rem;
}

#stuff-left div span {
  display: block;
  text-align: center;
  font-size: 2.5rem;
}

select {
  background: transparent;
  border: none;
  color: var(--purple);
  font-size: 1.5rem;
  appearance: none;
  -webkit-appearance: none;
}

select:focus {
  outline: none;
}

#select-wrapper::after {
  content: "";
  display: inline-block;
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent; 
  border-top: 20px solid transparent;
  transition: transform 500ms ease;
}

#select-wrapper:hover#select-wrapper::after {
  border-top: 20px solid var(--purple);
}

#game-panel {
  width: 40vw;
}

#stuff-right {
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#stuff-right canvas {
  width: 12vw;
  height: 15vw;
  margin: 0px auto;
}

/**************** ARROWS STUFF *********************/

#arrows {
  display: grid;
  grid-gap: 10px;
  margin: 0px auto;
}

.game-stuff img {
  width: 5vw;
  height: 5vw;
}

#up-arrow {
  grid-column-start: 2;
  grid-column-end: 3;
}

#left-arrow {
  grid-column-start: 1;
  grid-column-end: 2;
}

#down-arrow {
  grid-column-start: 2;
  grid-column-end: 3;
}

#right-arrow {
  grid-column-start: 3;
  grid-column-end: 4;
}

/****************** DECO **********************/

.deco {
  display: inline-block;

  /* border: dotted 2px yellow; */
}

.deco-item {
  background: var(--lightpurle);
  position: relative;
  border-radius: 50%;
}

.deco-item1 {
  height: var(--demo1dim);
  width: var(--demo1dim);
}

.deco-item2 {
  height: var(--demo2dim);
  width: var(--demo2dim);
}

.deco-item3 {
  height: var(--demo3dim);
  width: var(--demo3dim);
}

/**************** DECO-LEFT ********************/

.deco-left .deco-item1 {
  top: -12vw;
  left: -11vw;
}

.deco-left .deco-item2 {
  top: -19vw;
  left: -19vw;
}

.deco-left .deco-item3 {
  top: -26vw;
  left: -12vw;
}

/****************** TEXT **********************/

section {
  display: flex;
}